.footer {
  padding-top: 15px;
  padding-bottom: 30px;
  background-color: #0f0f0f;
}

.footer__text {
  text-align: center;
  color: white;
}

.scrollUp {
  padding-bottom: 15px;
  text-align: center;
}
